<!DOCTYPE html>
<html>
  <head>
    <title>The Weeknd</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel='stylesheet' href='styles/styles.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header>
      <div style="height:420px;" class="embeded-responsive  position-absolute hidden-sm">
        
        <iframe width="100%" height="420px;" src="https://www.youtube.com/embed/I1BfoRR-ST8?autoplay=1&mute=1&enablejsapi=1"  frameborder="0" allow="autoplay; accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
      </div><!-- jumbotron -->

      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand">The Weeknd</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
                <li><a href="/albums" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Albums <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/albums">All Albums</a></li>
                    <li role="separator" class="divider"></li>
                  </ul>
              </li>
              <li><a href="/feedback">Feedback</a></li>
              
            </ul><!-- nav -->
          </div><!-- navbar-collapse -->
        </div><!-- container -->
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="maincontent">

            <article class="article">
              <h1 style="color:black;" class="article-title">The Weeknd</h1>
                <p>The Weeknd, originally Abel Tesaye, broke into the music scene with the 2011 mistape <i>House of Ballons</i>. He went on to work with <u>Drake</u>, <u>Wiz Kahlifa</u> and others, while building his own career as an artist. In 2015, The Weeknd enjoyed huge success with the Grammy winning album <i>Beauty Behind The Madness</i>, which boastes the hit single "Can't Feel My Face." His follow-up album, <i>Starboy</i>(2016), also won a Grammy and featured collabs with artist as Daft Punk. </p>
                <p>Born Abel tesfaye on February 16, 1990, in Toronto, Canada, The Weeknd has become one of the music industry's leading alternative R&B performers. Hes is the son of Ethiopian immigrants but has had little contact with his father, who lefft the family when The Weeknd was only a toddler. His early musical influences ranged from traditional Ethiopian music to the "King of Pop", <u>Michael Jackson</u>.</p>
            </article><!-- article -->


            

          </div>
        </div><!-- primary -->
        <aside class="col-sm-4">
          <article class="sidebar">
            <h1 class="sidebar-title">Awards and Nominations</h1>
            <ul class="sidebar-body">
              <li>Won 2 American Music Awards, Nominated 10 times for an AMA in different categories</li>
              <li>Latin Ameriacan Music Awards - Nominated</li>
              <li>Won 4 ASCAP Awards</li>
              <li>Won 9 Billboard Music Awards out of 37 Nominations</li>
              <li><b>Won 3 Grammy's out of 10 Nominations</b></li>
              <li>Won 2 Guiness World Records</li>
              
            </ul>
          </article><!-- article -->
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- <script src="/js/pixgrid.js"></script>
    <script src="/reload/reload.js"></script> -->
  </body>
</html>